:root {
    --background-color: cornflowerblue;

    --panel-background-color: lightgoldenrodyellow;
    --panel-border-color: burlywood;;

    --footer-button-background-color: lightblue;
    --footer-button-border-color: chocolate;

    --board-background-color: bisque;
    --board-border-color: burlywood;

    --circle-border-color: black;

    --player-no-player: white;
    --player-player1: red;
    --player-player2: blue;
}

body {
    background-color: var(--background-color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.app-container {
    width: 400px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 10%;
    margin-left: -200px;
}

.panel {
    position: absolute;
    background-color: var(--panel-background-color);
    border: 4px solid var(--panel-border-color);
    -webkit-box-shadow: 7px 5px 15px 3px rgba(0, 0, 0, 0.9);
    box-shadow: 7px 5px 15px 3px rgba(0, 0, 0, 0.9);
    z-index: 1;
}

.header {
    left: 50%;
    top: 10%;
    height: 40px;
    width: 150px;
    margin-left: -50px;
}

.header-text {
    font-size: 15px;
    font-weight: bold;
    width: 220px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-20%, -50%);
}

.footer {
    left: 50%;
    top: 380px;
    height: 40px;
    width: 200px;
    margin-left: -75px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer button {
    width: 90px;
    height: 30px;
    margin-left: 5px;
    margin-top: 5px;
    background-color: var(--footer-button-background-color);
    font-size: 15px;
    -webkit-box-shadow: 3px 5px 10px 2px rgba(0, 0, 0, 0.9);
    box-shadow: 3px 5px 10px 2px rgba(0, 0, 0, 0.9);
    border: 3px solid var(--footer-button-border-color);
    font-weight: bold;
}

.footer button:hover {
    background-color: var(--footer-button-border-color);
}

.gameBoard {
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(4, 1fr);
    padding: 10px;
    width: 275px;
    position: absolute;
    left: 50%;
    margin-left: -125px;
    top: 20%;
    background-color: var(--board-background-color);
    border: 4px solid var(--board-border-color);
    border-radius: 8%;
    -webkit-box-shadow: 7px 5px 15px 3px rgba(0, 0, 0, 0.9);
    box-shadow: 7px 5px 15px 3px rgba(0, 0, 0, 0.9);
}

.gameCircle {
    width: 50px;
    height: 50px;
    margin: 5px;
    border-radius: 50%;
    border: 3px solid var(--circle-border-color);
}

.player_0 {
    background-color: var(--player-no-player);
}

.player_1 {
    background-color: var(--player-player1);
}

.player_2 {
    background-color: var(--player-player2);
}